
<mat-toolbar class="mat-elevation-z2"> 
  <mat-toolbar-row>
	
	<div id="logo-codeit">
		<a href="http://www.codeitsolutions.com.br" rel="noopener noreferrer external" target="_blank"> 
			<img src="assets/images/codeit-logo.png" alt="CodeIT Solutions" />
		</a>
	</div>
	
    <span class="spacer"></span>
    
    <span id="title">{{ getTitle() }}</span>
    
    <span class="spacer"></span>
  
  	<div id="logo-corda">
		<a href="https://www.corda.net/" rel="noopener noreferrer external" target="_blank">
			<img src="assets/images/corda-logo.png" alt="Corda" />
		</a> 
	</div>

  </mat-toolbar-row>
</mat-toolbar>


