<mat-toolbar class="mat-elevation-z8">
	<div id="contact">
		<span class="info">
			<a href="tel:+551137598881" rel="external" target="_blank"> 
				<mat-icon>phone</mat-icon>
				<span>+55 11 3759-8881</span>
			</a>
		</span>
		
		<span class="info">
			<a href="https://goo.gl/maps/ADYohBxFWhp" rel="noopener noreferrer external" target="_blank"> 
				<mat-icon>room</mat-icon> 
				<span>{{ 'sao_paulo' | translate }} / {{ 'brazil' | translate }}</span>
			</a>
		</span>
		
		<span class="info">
			<a href="mailto:contato@codeitsolutions.com.br" rel="external" target="_blank"> 
				<mat-icon>email</mat-icon> 
				<span>contato@codeitsolutions.com.br</span>
			</a>
		</span>
	</div>
</mat-toolbar>
