<mat-toolbar class="mat-elevation-z4">
	
	<button mat-button [matMenuTriggerFor]="menu">
		<mat-icon>dashboard</mat-icon> {{ 'views' | translate }}
	</button>
	
	<mat-menu #menu>
		<button mat-menu-item [routerLink]="['overview']">
			<mat-icon>assignment</mat-icon> {{ "overview" | translate }}
		</button>
		<button mat-menu-item [routerLink]="['channel/1']">
			<mat-icon>shopping_cart</mat-icon> {{ "channel" | translate }} A
		</button>
		<button mat-menu-item [routerLink]="['channel/2']">
			<mat-icon>shopping_cart</mat-icon> {{ "channel" | translate }} B
		</button>
		<button mat-menu-item [routerLink]="['insurer']">
			<mat-icon>verified_user</mat-icon> {{ "insurer" | translate }}
		</button>
	</mat-menu>
	
</mat-toolbar>
