<div id="insure">
	<h3>{{ 'insureProducts' | translate }}</h3>

	<div id="search">
		<mat-icon>search</mat-icon>
	    <mat-input-container class="div-panel container-space">
	      	<input matInput placeholder="{{ 'searchProduct' | translate }}" #search (input)="filter(search.value)">
	    </mat-input-container>
    </div>
    
	<mat-table class="products-table mat-elevation-z2" [dataSource]="dataSource">
    
	    <ng-container matColumnDef="nku">
	        <mat-header-cell *matHeaderCellDef>{{ 'nku' | translate }}</mat-header-cell>
	        <mat-cell class="nku-cell" *matCellDef="let row">
	        	{{row.product.nku}}
	        </mat-cell>
	    </ng-container>
	
	    <ng-container matColumnDef="brand">
	        <mat-header-cell *matHeaderCellDef>{{ 'brand' | translate }}</mat-header-cell>
	        <mat-cell class="brand-cell" *matCellDef="let row">
	        	{{row.product.brand}}
	        </mat-cell>
	    </ng-container>
	
	    <ng-container matColumnDef="price">
	        <mat-header-cell *matHeaderCellDef>{{ 'price' | translate }}</mat-header-cell>
	        <mat-cell class="price-cell" *matCellDef="let row">
	        	{{row.product.price | localizedCurrency}}
	        </mat-cell>
	    </ng-container>
	
	    <ng-container matColumnDef="description">
	        <mat-header-cell *matHeaderCellDef>{{ 'description' | translate }}</mat-header-cell>
	        <mat-cell class="description-cell" *matCellDef="let row">
	        	{{row.product.description}}
	        </mat-cell>
	    </ng-container>
	
	    <ng-container class="selection-container" matColumnDef="selection">
	    	<mat-header-cell *matHeaderCellDef>{{ 'insure' | translate }}</mat-header-cell>
	        <mat-cell class="selection-cell" *matCellDef="let row">
	        	<mat-checkbox color="primary" 
	        		[(ngModel)]="row.selected"
			        (change)="calculateTotal()">
			    </mat-checkbox>
	        </mat-cell>
	    </ng-container>
	    
	    <ng-container matColumnDef="expandedDetail">
	      <mat-cell *matCellDef="let row"> 

			<mat-table class="coverages-table" [dataSource]="row.coverages">
	
			    <ng-container class="selection-container" matColumnDef="selection">
			        <mat-cell class="selection-cell" *matCellDef="let coverage">
			        	<mat-checkbox color="primary" 
			        		[(ngModel)]="coverage.selected"
			        		(change)="calculateTotal()">
			        	</mat-checkbox>
			        </mat-cell>
			    </ng-container>
			
			    <ng-container class="name-container" matColumnDef="name">
			        <mat-cell class="name-cell" *matCellDef="let coverage">
			        	{{coverage.name}}
			        </mat-cell>
			    </ng-container>
			
			    <ng-container class="price-container" matColumnDef="price">
			        <mat-cell class="price-cell" *matCellDef="let coverage">
			        	{{coverage.price | localizedCurrency}}
			        </mat-cell>
			    </ng-container>
			
			    <ng-container class="description-container" matColumnDef="description">
			        <mat-cell class="description-cell" *matCellDef="let coverage">
			        	{{coverage.description}}
			        </mat-cell>
			    </ng-container>
	    
				<mat-row *matRowDef="let row; columns: displayedCoverageColumns;"
            		class="product-row"></mat-row>
			</mat-table>

	      </mat-cell>
	    </ng-container>

	    <mat-header-row *matHeaderRowDef="displayedProductColumns"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: displayedProductColumns;"
        	class="product-row"></mat-row>
	
	    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isCoverageRow"
	            [@detailExpand]="row.parent.selected ? 'expanded' : 'collapsed'"
	            style="overflow: hidden"> 
	    </mat-row>

	</mat-table>	

	<mat-toolbar-row>
		<span id="total">{{ 'total' | translate }}: {{ getTotal() | localizedCurrency }}</span>
		<span class="spacer"></span>
		<button mat-raised-button color="primary" (click)="hire()">{{ 'hire' | translate }}</button>
	</mat-toolbar-row>
	
</div>