#insure h3 {
	text-align: center;
}

#search {
	width: 100%;
}

#search mat-icon {
	vertical-align: middle;
}

#search mat-input-container {
	width: 400px;
}

mat-table {
	width: 100%;
}

.mat-column-selection {
	text-align: center;
	flex: 0 0 60px;
}

.products-table mat-cell {
	padding: 10px 0;
}

.coverages-table mat-cell {
	color: #3465a4;
}