@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}